<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-0xvvRQ7me2T5twv99B/k4AxlQ4cFzB+7SOpgJtOl1pc= sha512-FWzWGvyU7ueo21SbhoCnq6YwJfDsjPEa9G+SmLRHTDfYj0MzYEuHFlfsVBWQlgmCd2HsjHKeQYV9ul/S464XfQ==" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/login/login.css' />
  </head>
